@font-face {
    font-family: "Gagalin";
    src: url(../fuentes/gagalin/Gagalin-Regular.otf);
  }

  h1{
    font-family: "Gagalin";
  }

.img-inicio-mujer{
    background-image: url("../imagen/mujer/inicioheader.png");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 102px;

}

.img-inicio-hombre{
    background-image: url("../imagen/hombre/inicioHeader.png");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 102px;
}